body{
    margin: 0px;
    background-color: #EEF0F2;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p, h2, h1{
    margin: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(100, 1vw);
    grid-template-rows: repeat(100, 1vh);
}

.left-side-bar{
    background-color: #EEC643;
    grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 10;
    grid-row-end: 101;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 20px;
}

.project-side-bar-div{
    border-radius: 0.5em;
    background-color: #F6F193;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    margin: 10px;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
}

.projects-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.item-plus-button,
.project-plus-button{
    height: 70%;
}

.top-bar{
    color: #EEF0F2;
    background-color: #141414;
    grid-column-start: 1;
    grid-column-end: 101;
    grid-row-start: 1;
    grid-row-end: 10;
    box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.34);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project{
    grid-column-start: 25;
    grid-column-end: 101;
    grid-row-start: 10;
    grid-row-end: 101;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.project-name{
    margin: 20px;
}

.projects .item-container:hover{
    background-color: #0b196a;
}

.project .item-container .sidecolor {
    height: 100%;
    width: 10px;
    background-color: #011638;
}

.projects .item-container .sidecolor{
    height: 100%;
    width: 10px;
    background-color: #011638;
}

.item-container{
    color: #EEF0F2;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 10px;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
}

.projects .item-container{
    background-color: #0D21A1;
}

.project .item-container{
    background-color: #0D21A1;
}

.item-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    height: 100%;
    margin-right: 20px;
}

.item-buttons{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.item-plus-button,
.project-plus-button{
    height: 70%;
}

.trash-button,
.edit-button{
    height: 70%;
    -webkit-filter: invert(80%);
}

.trash-button:hover,
.trash-button:focus,
.edit-button:hover,
.edit-button:focus,
.item-plus-button:hover,
.item-plus-button:focus,
.project-plus-button:hover,
.project-plus-button:focus {
  
  transform: translateY(-0.25em);
}

.trash-button:hover,
.trash-button:focus,
.edit-button:hover,
.edit-button:focus{
    -webkit-filter: invert(40%);
}

.item-plus-button:hover,
.item-plus-button:focus,
.project-plus-button:hover,
.project-plus-button:focus{
    -webkit-filter: invert(40%);
}

.item-name {
    font-weight: bold;
    font-size: 1em;
}

.project-title-div{
    margin-top: 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.project-dialog, .item-dialog{
    width: 300px;
    height: 150px;
    border-radius: 1em;
}

.project-dialog-form, .item-dialog-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-dialog-input-div, .item-dialog-input-div{
    display: flex;
    flex-direction: column;
}

.project-submit-button, .item-submit-button{
    align-self: center;
    background-color: #0D21A1;
    color: #fff;
    padding: 0.7em 2em;
    border-radius: 10px;
}

.project-name-input, .item-name-input{
    border: none;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 0.5em;
}